<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<!--<add name="dbcs" connectionString="Data Source=LAPTOP-AMM1MQ8C;Initial Catalog=onlineexam;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="dbcs" connectionString="Data Source=LAPTOP-CKSBOEVR;Initial Catalog=onlineexam;User ID=sa;Password=12345" providerName="System.Data.SqlClient; persist security info=true;Connect Timeout=2000; pooling='true'; Max Pool Size=2000"/>

  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
</configuration>
